# SET_PRINT_STATS_INFO TOTAL_LAYER=[total_layer_count]
# M140 S[bed_temperature_initial_layer_single]
# M104 S[nozzle_temperature_initial_layer]
# START_PRINT EXTRUDER=[nozzle_temperature_initial_layer] BED=[bed_temperature_initial_layer_single] MESH_MIN={adaptive_bed_mesh_min[0]},{adaptive_bed_mesh_min[1]} MESH_MAX={adaptive_bed_mesh_max[0]},{adaptive_bed_mesh_max[1]} PROBE_COUNT={bed_mesh_probe_count[0]},{bed_mesh_probe_count[1]}



[gcode_macro START_PRINT]
gcode:
    RESPOND MSG="Preparing to print"
    # Get first-layer bed-temp from slicer
    {% set BED_TEMP = params.BED_TEMP|default(60)|float %}
    # Get first-layer extruder-temp from slicer
    {% set EXTRUDER_TEMP = params.EXTRUDER_TEMP|default(190)|float %}
    # Setup KAMP variables
    SETUP_KAMP_MESHING DISPLAY_PARAMETERS=1 LED_ENABLE=1 FUZZ_ENABLE=1
    SETUP_LINE_PURGE DISPLAY_PARAMETERS=1 ADAPTIVE_ENABLE=1 Z_HEIGHT=.3 PURGE_AMOUNT=20 LINE_LENGTH=25
    G90 # use absolute coordinates
    M83 # extruder relative mode
    RESPOND MSG="Warming up for bed leveling"
    M104 S170 # set extruder temp for bed leveling
    M140 S{BED_TEMP} # set bed temp
    M109 S170 # wait for bed leveling temp
    M190 S{BED_TEMP} ; wait for bed temp
    G28 # home all axis
    # mesh bed
    BED_MESH_CLEAR
    RESPOND MSG="KAMP Adaptive Bed Meshing"
    BED_MESH_CALIBRATE
    RESPOND MSG="Heating to print temp"
    M104 S{EXTRUDER_TEMP}# set extruder temp
    G0 Z40 F240
    RESPOND MSG="Clean bed and nozzle"
    G0 X2 Y220 F3000 #Clean Nozzle and Bed
    M109 S{EXTRUDER_TEMP} # wait for extruder temp
    RESPOND MSG="KAMP Line Purge"
    LINE_PURGE # purge nozzle
    RESPOND MSG="Print Started"